
<li class="activity">
  <img class="newsfeed_img"src="<%= @user.photo_url %>">
  <%= activity.owner.first_name %> 
  <%= activity.owner.last_name %> 
  created a new Goal: 
  <%= link_to activity.trackable.name, user_goal_path(@user,@goal)  %> 
</li>