<div class="mural" style="background-image: url(<%= random_background %>) ">

  <div class="welcome well">
    <center>
    <h1>Welcome to Moolah!</h1>
    <h3>Come be a GOALRILLA with your friends!</h3>
    </center>
  </div>  

</div>