
<li class="activity">
  <%= activity.owner.first_name %> 
  <%= activity.owner.last_name %> Just Won Our 
  <%= activity.trackable.name %> Achievement For Their 
  <%= activity.trackable.goal_name %> Goal </li>