.navbar-inverse, .navbar, .navbar-default{
    position: fixed !important;
    width: 100% !important;
    border-radius: 0;
}

div#user_nav {
    position: fixed;
    top: 4em;
    z-index: 999;
}
 
 div.mural {

    margin-top: -3em;
    background-size: cover !important; 
    background-position: center;
    background-attachment: fixed !important;
    background-repeat:no-repeat;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    z-index: -1;
} 

.container {
    margin-top: 60px;
}

ul {
    list-style-type: none;
}

 .well {
    border: solid 2px gray;
    opacity: 0.8;
    color: #ffffff !important;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    background: white;
 }

 h2 {
    /*padding-top: 80px;*/
    color: gray;
    padding-bottom: 30px;
 }

h4 {
    text-align: center;
    padding-bottom: 20px;

}

 .form {
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px; 
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    line-height: 15px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    }

.field    {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 50%;
    border: solid 1px #8B7D6B;
    height: 50px;
    color: gray;
    font-family: oxygen;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form-transaction {
}

.checkbox {
   /* text-align: left;*/
    margin-right: 100px;
    margin-left: 120px;
}

.input_checkbox {
    width: 8%;
    height: 15px;
    border-radius: 0px;
    font-size: 7px;
}

.input_slider {

}

.form_button {
    font-family: oxygen;
    text-align: center;
    height: 20%;
    width: 20%;
    margin: 0 auto;
}

/*input.form-control {
    margin-top: 2px !important;
}*/

.navbar-form {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}

.navbar-form .btn {
    position: relative !important;
    bottom: 4.5px !important;
}

/* ############ START DRAGGABLE ################## */


  #draggable {
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
  }

   #draggable img {
    margin-right: auto;
    margin-left: auto;
   }

  #droppable {
    width: 250px;
/*    background: #ccc;*/
    margin-top: 40px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
  }

  #slider { 
    margin: 10px !important; 
} 

.pig {
    margin-left: auto;
    margin-right: auto;

}

.coin {
    margin-left: auto;
    margin-right: auto;
}

.chart {
    background-color: #FF4500;
    border-radius: 10px !important; 
    border: solid 1px gray;
}

.progress {
    height: 60px !important;
    border-radius: 10px !important;
}

.display-name {
    position: relative;
    top: 17px;
    font-size: 19px;
}

div.tiles {
    height: 200px;
    width: 200px;
/*    background-color: red;*/
    padding: 0 !important;
    margin: 0 !important;
}



/* ############ END DRAGGABLE ################## */









