.navbar-inverse, .navbar, .navbar-default{
    position: fixed !important;
    width: 100% !important;
    border-radius: 0;
}


 
 div.mural {

    margin-top: -3em;
/*    background: url("http://www.jetblue.com/img/vacations/destination/Cancun-960-x-420.jpg");*/
    
    background-size: cover !important; 
    background-position: center;
    background-attachment: fixed !important;
    background-repeat:no-repeat;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    z-index: -1;
} 

 .well {
    border: solid 2px gray;
    opacity: 0.7;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
 }

 h2 {
    padding-top: 80px;
    color: gray;
    padding-bottom: 30px;
 }

h4 {
    text-align: center;
    padding-bottom: 20px;

}

 .form {
    display: inline-block;
    padding-top: 10px;
    margin-top: 10px; 
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    line-height: 15px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    }

.field    {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 50%;
    border: solid 1px #8B7D6B;
    height: 50px;
    color: gray;
    font-family: oxygen;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.form-transaction {
}

.checkbox {
   /* text-align: left;*/
    margin-right: 100px;
    margin-left: 120px;
}

.input_checkbox {
    width: 8%;
    height: 15px;
    border-radius: 0px;
    font-size: 7px;
}

.input_slider {

}

.form_button {
    font-family: oxygen;
    text-align: center;
    height: 20%;
    width: 20%;
    margin: 0 auto;
}

/*input.form-control {
    margin-top: 2px !important;
}*/


/* ############ START DRAGGABLE ################## */


  #draggable {
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
  }

   #draggable img {
    margin-right: auto;
    margin-left: auto;
   }

  #droppable {
    width: 250px;
/*    background: #ccc;*/
    margin-top: 40px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
  }

  #slider { 
    margin: 10px !important; 
} 

.pig {
    margin-left: auto;
    margin-right: auto;

}

.coin {
    margin-left: auto;
    margin-rirght: auto;
}

.results {
    position: absolute;
    width: 90%;
    top: 120px;
    left: 120px;
    width: 800px;

}

input.form-control {
    width: 70% !important;
}

.nav-text a {
    cursor: default !important;
}

#999999

/* ############ END DRAGGABLE ################## */









