<% if @users.length == 0 %>
  <p>We couldn't find that user. Either do a better job of searching or send them an invite below!</p>
  <!-- insert form for sending an invitation via email -->
<% else %>
  <ul>
    <% @users.each do |user| %>
      <li><img src=<%= user.photo_url %>> <a href=><%= user.first_name %> <%= user.last_name %></a></li>
    <% end %>
  </ul>
<% end %>