
<li class="activity">
  <img class="newsfeed_img"src="<%= activity.trackable.user.photo_url %>">
  <%= link_to activity.trackable.user.first_name, user_path(@user)  %>
  and
  <%= activity.trackable.friend.first_name %> <%= activity.trackable.friend.last_name %> are now BFFs!
</li>