<li class="activity">
  <%= activity.owner.first_name %> 
  saved 
  $<%= number_with_delimiter(activity.trackable.amount) %>!   
  <%= activity.trackable.description %>! For goal?!  
  <%= activity.trackable.goal.name %>! How will you save MOOLAH today? </li>